/*

*/

.site {
    
    background-color:  rgba($color__background-body, .9);
    font-family: $font__main;
}
//pseudo element position absolute
.home::after{
    content: "";
position: absolute;
width: 100%;
height: 100%;
top:0;
bottom: 0;
left: 0;
right: 0;
background-color: rgb(13, 14, 13);
z-index: -1;
clip-path :polygon(85% 0, 100% 0, 100% 100% , 19% 100%);
}



.site__header{
    grid-area: header;  
    background-color: rgba($color__background-header, .8);
   
   
}

.site__barre{
    grid-area: sidebar;
    background-color: transparent;
}

.site__main{
    grid-area: main;
    background-color: rgba($color__background-main, .8);
}

.site__footer{
    grid-area: footer;
    background-color: $color__background-footer;
}

.site {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"sidebar"
        "header"
		"main"
		"footer";
}


@media screen and (min-width : $largeur__media--tablette)
{
    .site {
        grid-template-columns: ($size__site-barre) auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
   // .home {
       // display: grid;
       // grid-template-columns: auto;
       // grid-template-areas:
           // "sidebar"
            //"header"
           // "main"
            //"footer";
   // }
    

}


