/////Les mixin//////
@mixin links($couleur,
	$couleur--visited,
	$couleur--hover) {
	color: $couleur;

	&:visited {
		color: $couleur--visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur--hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/*mixin footer*/

@mixin links__menu($couleur,
	$couleur--visited,
	$couleur--hover,
	$background,
	$background--visited,
	$background--hover) {

	color: $couleur;
	background-color: $background;

	&:visited {
		color: $couleur--visited;
		background-color: $background--visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur--hover;
		background-color: $background--hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}




.site__footer a {
	@include links($color__link__footer,
		$color__link__footer-visited,
		$color__link__footer-hover);
}
.site__footer a :hover{
	transform: scale(1) translateX(0px);
}