@mixin links(	$couleur, 
				$couleur--visited, 
				$couleur--hover)
{
	color: $couleur;

	&:visited {
		color: $couleur--visited;
	}
//salut
	&:hover,
	&:focus,
	&:active {
		color: $couleur--hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}


a {
	@include links(	$color__link,
					$color__link-visited, 
					$color__link-hover )
}

 .site__footer a{
	@include links(	$color__link__footer,
					$color__link__footer-visited, 
					$color__link__footer-hover );
}

.site__header a {

	@include links(	$color__link__header,
	$color__link__header-visited, 
	$color__link__header-hover )
}	
a{
	color: rgb(129, 153, 102);
	text-decoration: none;
}




 