.boite__modale,
.boite__caroussel {
  position: fixed;
  width: 50%;
  height: 50%;
  border: solid 10px rgb(27, 27, 27);
  border: solid 4px rgb(255, 253, 253);
  background-color: rgb(236, 245, 244);
  top: 25%;
  left: 25%;
  transform: scale(0);
  transition: all 1s ease-in-out;
  z-index: 3;
  box-shadow: #e6e4e4 1px 1px 20px 3px;
  background-color: rgba(98, 186, 176, 0.856);

  @media screen and (min-width : $largeur__media--tablette) {
    display: flex;
    //flex-direction: column-reverse;
    justify-content: space-around;
  }

  &:hover {}

  &__ouvrir {
    transform: scale(1);
  }
}


.boite__modale__texte {
  text-align: center;

  @media screen and (min-width : $largeur__media--tablette) {
    font-size: 1.4rem;
    padding: 30px;

  }
}

.boite__modale__ferme {

  @media screen and (min-width : $largeur__media--tablette) {
    font-size: 2rem;

  }

  width: 100%;
  background-color: rgba(192, 231, 227, 0.963);
  border: none;
  color: white;
  background-color:rgba(255, 255, 255, 0.292);
  box-shadow: #e6e4e4 1px 1px 20px 3px;
}

.boite__caroussel {
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  @media screen and (min-width : $largeur__media--tablette) {
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
  }


  
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0;
      transform: translateX(-100%);
      
      transition: all 1s ease-in-out;
      &.img--ouvrir{
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  &__navigation {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 6;
    display: flex;
    justify-content: center;

    .bouton {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin: 20px 15px;
      border: none;
      color: black;
&:checked{
  
  
}
      //&:focus {
       // background-color: rgb(25, 25, 25);
        ///border: 1px solid white;
      //}
    }
  }
}

.boite__caroussel__ferme {
  z-index: 5;
  background-color: transparent;
  font-size: 3rem;
  border: none;
  color: white;

  width: 100%;
  position: absolute;
  text-align: right;
  padding-right: 30px;
  padding-top: 10px;




}

.boite__modale {
  flex-direction: column-reverse;
}