.burger {
    width: 3rem;
    height: 3rem;
    margin: 5%;
    border-radius: 25%;
    overflow: hidden;



    .burger__ligne {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        transition: all 0.4s ease-in-out;

        &:nth-of-type(1) {
            clip-path: polygon(0 0%, 100% 0%, 100% 20%, 0 20%);

        }

        &:nth-of-type(2) {
            clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
            transition: all 0.3s ease-in-out;
        }

        &:nth-of-type(3) {
            clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
        }
    }

    //burger ligne


}

#chk-burger:checked~#burger {


    .burger__ligne:nth-of-type(1) {
        clip-path: polygon(7.1% -7.1%, 107.1% 92.9%, 92.9% 107.1%, -7.1% 7.1%);
        background-color: rgb(253, 253, 253);
    }

    .burger__ligne:nth-of-type(3) {
        clip-path: polygon(-7.1% 92.9%, 92.9% -7.1%, 107.1% 7.1%, 7.1% 107.1%);
        background-color: rgb(252, 252, 252);
    }

    .burger__ligne:nth-of-type(2) {
        background-color: rgba(0, 255, 255, 0);
    }




}