.principal {
    margin: 20px;
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
   
   
}

.formation {
    display: flex;
    flex-direction: column;
   

    &__titre {
        font-size: 2rem;
        color: white;
        margin: 10px 0px;
        font-family: $font__titre;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__cours {
        background-color: $color__background-cours;
        box-shadow: rgb(177, 150, 228) 1px -1px 10px;
        border: solid 3px hsl(231, 75%, 70%);
       
       
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        //&:hover{
            //background-color: transparent;
            //color: azure;
           
       // }
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
    }


}





.cours__titre {
    font-size: 1.7rem;
    color: rgb(92, 143, 145);
    text-shadow: 1px 1px 1px black;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(129, 153, 102);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}
.site__main p{
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
    padding-left: 20px;
    
}
.site__main h1{
    color: rgb(126, 160, 95);
    padding-left: 20px;
}
