///// page principal//////
.principal {
    margin: 40px;

    background-color: #5e5c5cd6;
    background-color: rgba(126, 126, 126, 0.84);

    @media screen and (min-width : $largeur__media--tablette) {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=cube');
    }

    box-shadow: #000000ec 1px 1px 30px 3px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://s2.svgbox.net/heropatterns.svg?ic=lips');
    background-image: url('https://s2.svgbox.net/heropatterns.svg?ic=topography');


    ///// pour format tablette//////
    @media screen and (min-width : $largeur__media--tablette) {
        flex-direction: column;
        padding: 10px 15px;

    }

    .cours__desc {
        //color: rgb(122, 207, 207);
        color: rgb(250, 250, 250);
    }
}

///// section pour les formations du cour//////
.formation {
    display: flex;
    flex-direction: column;


    &__titre {
        font-size: 2rem;
        color: white;

        font-family: $font__titre;
        text-align: center;
    }

    &__liste {
        display: flex;
        flex-wrap: wrap;
    }

    &__cours {
        background-repeat: no-repeat;
        background-position: 95% 3%;
        background-color: rgba(34, 33, 33, 0.801);
        box-shadow: rgb(177, 150, 228) 1px -1px 10px;
        border: solid 3px hsl(231, 75%, 70%);
        transition: 0.8s;

        margin: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        flex-direction: column;

        //justify-content: flex-start;
        @media screen and (min-width : $largeur__media--tablette) {
            align-items: center;
            background-color: $color__background-cours;
        }



        ///// section pour les formations du cour version tablette avec hover//////
        @media screen and (min-width : $largeur__media--tablette) {
            &:hover {
                background-color: rgb(255, 255, 255);
                //transform: scale(1.3);

                box-shadow: hsl(240, 9%, 96%) 3px 1px 40px;
                background-color: rgb(36, 35, 35);
                border: solid 3px hsl(240, 6%, 91%);
                transform: scale(1.1);




                .cours__desc {
                    color: rgb(250, 250, 250);
                    color: rgb(111, 224, 224);
                }

                .cours__nbre-heure {
                    color: rgb(250, 250, 250);
                }

                p {}

                img {
                    //opacity: 0.8;
                }



            }
        }

        @media screen and (min-width : $largeur__media--tablette) {
            width: 45%;
        }

        @media screen and (min-width : $largeur__media--desktop) {
            width: 30%;
        }

        padding: 10px;
    }
}

///// section pour les textes de chaque cours//////
.cours__titre {
    font-size: 1.7rem;
    color: rgb(92, 143, 145);
    text-shadow: 1px 1px 1px black;
    margin: 5px 0px;
    text-align: center;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(129, 153, 102);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}

.site__main p {
    color: #f4f4f5;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 20px;


}

.site__main h1 {

    padding-left: 20px;
    padding-bottom: 10px;
}

a {
    color: #515c96;
    text-decoration: none;

}

a:hover {
    color: rgb(253, 253, 253);
}

.web {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=globe');
    background-size: 50px 50px;



}

.video {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=videocam');
    background-size: 400px 400px;
}

.utilitaire {
    background-image: url('https://s2.svgbox.net/social.svg?ic=angellist');
    background-size: 400px 400px;
}

.jeu {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=videogame_asset');
    background-size: 400px 400px;
}

.design {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=pencil');
    background-size: 400px 400px;

}

.creation-3d {
    background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=cube');
    background-size: 400px 400px;
}

//icon ans formation

@media screen and (min-width : $largeur__media--tablette) {
    .web {
        background-image: url('https://s2.svgbox.net/octicons.svg?ic=globe');
        background-size: 50px 50px;

        //icon ans formationgit add  

    }

    .video {
        background-image: url('https://s2.svgbox.net/materialui.svg?ic=videocam');
        background-size: 50px 50px;
    }

    .utilitaire {
        background-image: url('https://s2.svgbox.net/social.svg?ic=angellist');
        background-size: 50px 50px;
    }

    .jeu {
        background-image: url('https://s2.svgbox.net/materialui.svg?ic=videogame_asset');
        background-size: 50px 50px;
    }

    .design {
        background-image: url('https://s2.svgbox.net/octicons.svg?ic=pencil');
        background-size: 50px 50px;

    }

    .creation-3d {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=cube');
        background-size: 50px 50px;
    }

    .creation-3d:hover {
        background-size: 430px 430px;
    }

    .design:hover {

        background-size: 400px 400px;
    }

    .web:hover {

        background-size: 400px 400px;

    }

    .video:hover {
        background-size: 400px 400px;
    }

    .jeu:hover {
        background-size: 400px 400px;
    }

    .utilitaire:hover {
        background-size: 400px 400px;
    }


}

//////////////page événement/////////////
h5 {
    color: #f7f8f8;
    font-size: clamp(1rem, 3vw, 3rem);
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 20px #dbdada;
    letter-spacing: 0.2rem;
    //text-align: center;
}





/////ajout siteground
p.cours__dep {
    color: #8d96c2;
}

///effacer les description
span.menu-item-description {
    display: none;
}

.cours__sigle {
    text-align: center;

}

.cours__nbre-heure {
    text-align: center;
    color: white;
}

.cours__dep {
    text-align: center;
}

button.cours__desc__suite {
    background-color: transparent;
    border: none;
    color: cyan;
    padding-left: 20px;
    text-decoration: underline;

    text-align: center;

}

button.cours__desc__suite:hover {
    color: white;
}

///////////////section page evenement/////////
.titreh5 {
    text-align: center;
}
.titreh5principal{
    text-align: center; 
color: rgb(114, 188, 191);
letter-spacing:0.5rem;

}

p.endroit {
    color: cadetblue;
    text-align: center;
}

p.date {
    color: cadetblue;
    text-align: center;
}

p.heure {
    color: cadetblue;
    text-align: center;
}

p.resume {
    color: cadetblue;
    text-align: center;
}

p.organisateur {
    color: cadetblue;
    text-align: center;
}

.img_evenement {}

#evenement {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: #f1f1f1 1px -1px 20px;

}