div.animation__bloc:hover {
  background-color: transparent;
  border: 1px solid white;

}


.animation {
  display: flex;
  width: 90%;
  //border: 1px solid white;
  justify-content: space-around;


  &__bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;

    color: rgb(223, 111, 111);
    animation: anim_bloc 1s 1s forwards ease-in-out;

  }


  &__bloc {}

  @keyframes anim_bloc {
    0% {
      transform: translateY(-100vh);
    }

    75% {
      transform: translateY(500px) rotate(360deg);

    }

    100% {
      transform: translateY(10px) rotate(360deg)
    }

  }



}