///////////////section page evenement/////////
.titreh5 {
    //text-align: center;
    //background-color: #dbdada0a;
    //box-shadow: #c4c4c4 1px 1px 20px;
    //border-radius: 3px;
    color: rgb(234, 246, 246);
    text-align: center;
    text-shadow: 1px 1px 10px #c0a8f5;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    box-shadow: #0a0a0a 1px 1px 20px;
    width: 100%;
    border: 0.5px solid white;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.026);


}

.titreh5:hover {
    color: rgb(255, 255, 255);

   

}

.titreh5principal {
    text-align: center;
    color: rgb(114, 188, 191);
    letter-spacing: 0.5rem;
    animation: anim_image 5s forwards ease-in-out;

}

@keyframes anim_titreEvenement {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;

    }

    100% {
        opacity: 1;
        transform: scale(0.8);
    }

}

p.endroit {
    color: cadetblue;
    text-align: center;
    text-shadow: 1px 1px 10px #c0a8f5;
    font-size: 2rem;

    letter-spacing: 0.2rem;
    box-shadow: #0a0a0a 1px 1px 20px;
    width: 100%;
    align-items: center;

}



p.date {
    color: cadetblue;
    text-align: center;
    text-shadow: 1px 1px 10px #c0a8f5;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    box-shadow: #0a0a0a 1px 1px 20px;
    width: 100%;
    align-items: center;

}

p.heure {
    color: cadetblue;
    text-align: center;
    text-shadow: 1px 1px 10px #c0a8f5;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    box-shadow: #0a0a0a 1px 1px 20px;
    width: 100%;
    align-items: center;

}

p.resume {
    color: cadetblue;
    text-align: center;
    text-shadow: 1px 1px 10px #c0a8f5;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    box-shadow: #0a0a0a 1px 1px 20px;
    width: 100%;
    align-items: center;

}

p.organisateur {
    color: cadetblue;
    text-align: center;
    text-shadow: 1px 1px 10px #c0a8f5;
    font-size: 2rem;

    letter-spacing: 0.2rem;
    box-shadow: #0a0a0a 1px 1px 20px;
    width: 100%;
    align-items: center;

}

.img_evenement {}

#evenement {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: #f1f1f1 1px -1px 20px;
    justify-content: center;
    align-items: center;

}

.info {
    background-color: #161616;
    color: white;
    height: 75px;
    width: 75px;
    border: none;
    box-shadow: #eeecec 1px 1px 20px;
    border-radius: 100%;

    @media screen and (min-width : $largeur__media--tablette) {
        height: 100px;
        width: 100px;
    }
}

.info:hover {
    background-color: rgba(255, 255, 255, 0.081);
    color: rgb(163, 215, 217);
    text-shadow: 1px 1px 10px #d7c9f6;
    box-shadow: hsl(101, 65%, 73%) 1px 1px 20px;
}