.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;

    &__menu{ // .site__footer__menu

      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content: center;
          .menu-item{ // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
              background-color: transparent;
              border: none;
              &:hover{
                color: aliceblue;
                box-shadow: rgba(177, 150, 228, 0) 1px -1px 10px;
              } 
              
              svg { // .site__footer__menu__ul .menu-item a svg
                color: rgb(44, 204, 204);
                padding-right: 5px;
              }
              
            }
          }
      }
    }
  }
.footer__titre,
.footer__presentation,
.footer__author {
  color:  aqua;;
  text-align: center;
}


