.site__header {
  background-color: $color__background-header;
  color: $color__font-header;
  padding-left: 40px;
  box-shadow: rgb(151, 150, 228) 1px -1px 10px;
  border: 1px solid white;


  .header__titre {
    font-size: 3em;
    font-family: $font__titre;
padding-left: 10px;

  }

  .header__description {
    //font-size: 1.5rem;
    font-size: clamp(1rem ,2vw, 3rem);
    font-family: $font__main;
    padding-left: 40px;

  }
}

.icone__lien {

}

svg {
  color: $color__background-footer;




}

svg:hover {
  color: white;

}

.site__header {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;

  @media screen and (min-width : $largeur__media--tablette) {
    flex-direction: row;




  }

  &__titre {
    display: flex;
    align-items: center;

    h1 {

      font-size: clamp(2rem, 4vw, 4rem);
      padding-left: 20px;
      padding-right: 30px;

    }

    h2 {
      font-size: clamp(1.5rem, 3vw, 3rem);

    }

  }

}

.utile {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-around;
  width: 100%;

  @media screen and (min-width : $largeur__media--tablette) {
    //width: 10%;
    align-items: center;
  }


}



.recherche {
  @media screen and (min-width : $largeur__media--tablette) {
    display: flex;

  }

  display:flex;

}

.recherche__input {

  outline: none;
  position: relative;
  height: 40px;


}

.recherche__bouton {
  display: none;

  @media screen and (min-width : $largeur__media--tablette) {

    display: flex;
    flex-direction: row;
    height: 41px;
  }

}
.site__header a{
  color: aliceblue;
}
.site__header a:hover{
  color: rgb(33, 34, 34);
  text-shadow: 2px 2px 2px white;
}
