/////Le menu de navigation//////
#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
}
#chk-burger{
    display: none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}


.menu-principal-container{
    //background-image: url('https://s2.svgbox.net/heropatterns.svg?ic=topography');
   // border: 1px solid rgb(30, 30, 30);
  
}
.menu{
    list-style-type: none;
    text-align: center;
    margin : 1px;
    padding :1px;
    
    //opacity: 0.8;

   
}
.menu-item{
    //margin:0;
    padding : 10px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    //background-color: hsla(101, 65%, 73%, 0.815);
    
    a{
        text-decoration: none;
        display:flex;
        text-shadow: 1px 2px 5px black;
        //justify-content: center;
        justify-content: flex-start;//ici cest enlime item menu
     border: solid 1px white;
        height: 50px;
        align-items: center;
        text-align: center;
        padding: 10px;
        color: aqua;
        background-color: rgb(78, 78, 78);
       
        font-size: 1.2rem;
        box-shadow: rgb(34, 34, 34) 1px -1px 10px 3px;
        //background-color: #82b9bbb4;
       padding-left: 20px;
        
    }
    
    a:hover{//
        
        background-color: rgb(41, 40, 40);
       color:  hsl(231, 75%, 70%);
       box-shadow: rgb(177, 150, 228) 1px -1px 10px 2px;
       //text-shadow: 0.5px 0.5px 5px rgb(240, 237, 237);
       svg{
           color: whitesmoke;
           
       }
    }
   
    
}
/////Le menu de navigation pour le format tablette//////
@media screen and (min-width : $largeur__media--tablette){
    #burger {
        display : none;
    }
  .menu-principal-container {
        display : block;
        animation: anim_menu 2s forwards ease-in-out;
    }
    @keyframes anim_menu {
        0% {
         opacity: 0.1;
         transform: translateX(-200px);
         
        }
    
        50% {
          opacity: 0.5;
    
        }
    
        100% {
          opacity: 1;
          transform: translateX(0px);
          
       
        }
    }    
    

}








