
#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
}
#chk-burger{
    display: none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}
.icone__lien{
    
   
    
    
    
}

.menu-principal-container{}
.menu{
    list-style-type: none;
    text-align: center;
    margin : 0;
    padding :0;
   
}
.menu-item{
    margin:0;
    padding : 10px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    
    
    
   
    
    
   
    a{
        text-decoration: none;
        display:flex;
        
        justify-content: center;
     border: solid 1px white;
        height: 50px;
        align-items: center;
        text-align: center;
        padding: 5px;
        color: aqua;
        background-color: rgb(78, 78, 78);
        font-size: 1.2rem;
       
    }
    
    a:hover{//
        
        background-color: rgb(41, 40, 40);
       color:  hsl(231, 75%, 70%);
       box-shadow: rgb(177, 150, 228) 1px -1px 10px;
       
    }
}

@media screen and (min-width : $largeur__media--tablette){
    #burger {
        display : none;
    }
  .menu-principal-container {
        display : block;
        animation: anim_menu 2s forwards ease-in-out;
    }
    @keyframes anim_menu {
        0% {
         opacity: 0.1;
         transform: translateX(-200px);
         
        }
    
        50% {
          opacity: 0.5;
    
        }
    
        100% {
          opacity: 1;
          transform: translateX(0px);
          
       
        }
    }    
    

}








