/////Le menu de navigation//////
#burger {
    position: absolute;
    transition: transform .3s;
    transform: rotate(0);
}

#chk-burger {
    display: none;
}

#chk-burger:checked~#burger {
    transform: rotate(90deg);
}

.menu-principal-container {
    display: none;
}

#chk-burger:checked~.menu-principal-container {
    display: block;
}

.menu-principal-container {}

.menu {
    list-style-type: none;
    text-align: center;
    margin: 1px;
    padding: 1px;

   


}

.menu-item {
   
    padding: 10px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;


    a {
        text-decoration: none;
        display: flex;
        text-shadow: 1px 2px 5px black;
       
        justify-content: flex-start; //ici cest enlime item menu

        height: 50px;
        align-items: center;
        text-align: center;
        padding: 10px;
        color: aqua;
        background-color: rgb(78, 78, 78);
        transition: 0.4s ease-in-out;
        font-size: 1.2rem;
        box-shadow: rgb(34, 34, 34) 1px -1px 10px 3px;
      
        padding-left: 20px;

    }

    svg {
        transition: 0.4s ease-in-out;
        border-radius: 50%;
    }

    a:hover {
        //

        background-color: rgb(41, 40, 40);
        color: hsl(231, 75%, 70%);
        box-shadow: rgba(161, 244, 154, 0.863) 1px -1px 10px 2px;
        box-shadow: rgb(177, 150, 228) 1px -1px 10px 2px;
        transform: scale(1.1) translateX(15px);
       
        border: solid 0.5px rgb(198, 156, 238);

        svg {
            color: whitesmoke;
           
            box-shadow: cyan 6px 0px 5px -1px;
            border-radius: 50%;
            height: 38px;
            width: 38px;

           
            animation: animMenu 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55) ease-in-out;
        }
    }


}

/////Le menu de navigation pour le format tablette//////
@media screen and (min-width : $largeur__media--tablette) {
    #burger {
        display: none;
    }

    .menu-principal-container {
        display: block;
        animation: anim_menu 2s forwards ease-in-out;
    }

    @keyframes animMenu {
        from {
            color: rgb(144, 132, 214);

            transform: scale(0.5) rotate(-360deg);

        }

        25% {
            transform: scale(1) rotate(90deg);
            color: cyan;
        }

        50% {}

        75% {}


        to {
            color: rgb(168, 126, 247);
            transform: scale(1) rotate(180deg);

        }
    }

    @keyframes anim_menu {
        0% {
            opacity: 0.1;
            transform: translateX(-200px);

        }

        50% {
            opacity: 0.5;

        }

        100% {
            opacity: 1;
            transform: translateX(0px);


        }
    }


}