/////animation pour le menu front page
@keyframes animIcon {

    from {

        opacity: 0;
        //font-size: 5rem;
        height: 12px;
        width: 12px;
    }


    25% {
        margin-bottom: 60px;
        opacity: 0.15;
        //font-size: 7rem;
        height: 26px;
        width: 26px;

    }


    50% {

        opacity: 0.25;
        color: cyan;
        //font-size: 9rem;
        height: 32px;
        width: 32px;

    }


    75% {

        opacity: 0.40;
        //font-size: 7rem;
        height: 36px;
        width: 36px;

    }



    to {

        opacity: 1;


    }
}

.menu-accueil-container {
    //nav
    //background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .menu {
        @media screen and (min-width : $largeur__media--tablette) {
            display: flex;
            
        }

        //flex-direction: column;
        margin: 20px;




        //background-color: rgba(121, 244, 229, 0.504);
        .menu-item {
            //width: 20%;
            flex-direction: column;
           

            a {
                background-color: aliceblue;
                color: rgb(2, 2, 2);
                font-size: 1.2rem;
                text-shadow: 0px 0px 0px black;
                background-color: rgba(121, 244, 229, 0.504);
                //background-color:  rgba(161, 244, 154, 0.361);
              
                     
                display: flex;

                transition: 0.15s;
                align-items: center;
                width: 200px;
                //width: 250px;
                
                @media screen and (min-width : $largeur__media--tablette) {
                    height: 200px;
                    //height: 250px;
                }

                .menu-item-description {
                    color: rgb(255, 255, 255);

                }

                .iconeMenuAccueil {
                    color: aqua;
                    transition: 1s all ease;
                    //animation-iteration-count: infinite;


                    margin-right: 5px;


                }


            }
            &:hover {
                a {
                    background-color: rgba(16, 16, 16, 0.787);
                    box-shadow: rgb(239, 237, 243) 1px -1px 10px 2px;
                  flex-grow: 1.2;
                    color: cyan;
                    border: solid 1px white;
                    transform: scale(1) translateX(0px);
                   
                       
                
                    
                   justify-content: flex-start;
                    .iconeMenuAccueil {
                        color: aliceblue;
                        box-shadow: rgb(222, 196, 249) 15px 0px 35px 0px;
                        animation-name: animIcon;
                        animation-duration: 0.5s;
                        animation-timing-function: ease-in;
                    }
                }}

            @media screen and (min-width : $largeur__media--tablette) {
                &:hover {
                    a {
                        background-color: rgba(16, 16, 16, 0.787);
                        box-shadow: rgb(239, 237, 243) 1px -1px 10px 2px;
                        border-radius: 50%;
                        color: cyan;
                        border: solid 1px white;
                       
                        .iconeMenuAccueil {
                            color: aliceblue;
                            box-shadow: rgb(222, 196, 249) 15px 0px 35px 0px;
                            animation-name: animIcon;
                            animation-duration: 0.5s;
                            animation-timing-function: ease-in;
                        }
                    }
                    
                }
            }
        }

    }

}

.menu-evenement-container {
    //nav
    //background-color: transparent;
    display: flex;
    flex-direction: row;

    .menu {
        @media screen and (min-width : $largeur__media--tablette) {
        display: flex;
        }
        //flex-direction: column;
        margin: 20px;



        //background-color: rgba(121, 244, 229, 0.504);
        .menu-item {
            //width: 20%;
            flex-direction: column;
            padding: 20px;

            a {
                background-color: aliceblue;
                color: rgb(2, 2, 2);
                font-size: 1.2rem;
                text-shadow: 0px 0px 0px black;
                background-color: rgba(121, 244, 229, 0.504);
               // flex-wrap: wrap;
                height: 150px;
                justify-content: center;
              

                @media screen and (min-width : $largeur__media--tablette) {
                    height: 100px;
                    width: 250px;
                    width: 350px;
                }

                .menu-item-description {
                    color: rgb(255, 255, 255);
                }

                .iconeMenuEvenement {
                    color: rgb(176, 238, 238);
                    transform: rotateZ(180deg);
                    margin-right: 5px;
                }
            }

            &:hover 
            
            { 
                a {
                   
                    background-color: rgba(161, 250, 240, 0.759);
                    background-color: rgb(31, 31, 31);
                    border: solid 1px white;
                    @media screen and (min-width : $largeur__media--tablette) {
                    transform: translateY(-20px);
                    flex-direction: column-reverse;
                    justify-content: space-around;
                    font-size: 1.5rem;
                    }
                    
                    box-shadow: rgb(239, 237, 243) 1px -1px 10px 2px;
                    border-radius: 1%;
                    color: aliceblue;
                 //height: 250px;
            
                 
                
                 
                }
                svg{
                    height: 40px;
                    width: 40px;
                    color: rgb(192, 137, 247);
                   
                }
            }
        }

    }

}