.menu-accueil-container {
    //nav
    //background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .menu {
        @media screen and (min-width : $largeur__media--tablette) {
            display: flex;
        }

        //flex-direction: column;
        margin: 20px;




        //background-color: rgba(121, 244, 229, 0.504);
        .menu-item {
            //width: 20%;
            flex-direction: column;


            a {
                background-color: aliceblue;
                color: rgb(2, 2, 2);
                font-size: 1.2rem;
                text-shadow: 0px 0px 0px black;
                background-color: rgba(121, 244, 229, 0.504);
                flex-wrap: wrap;

                @media screen and (min-width : $largeur__media--tablette) {
                    height: 200px;
                }

                .menu-item-description {
                    color: rgb(255, 255, 255);
                    
                }
                .iconeMenuAccueil{
                    color: aqua;
                   
                    margin-right: 5px;
                }
                
            }

            &:hover {
                a {

                    box-shadow: rgb(239, 237, 243) 1px -1px 10px 2px;
                    .iconeMenuAccueil{
                        color: aliceblue;
                       
                    }
                }
            }
        }

    }

}

.menu-evenement-container {
    //nav
    //background-color: transparent;
    display: flex;
    flex-direction: row;

    .menu {
        display: flex;
        //flex-direction: column;
        margin: 20px;



        //background-color: rgba(121, 244, 229, 0.504);
        .menu-item {
            //width: 20%;
            flex-direction: column;


            a {
                background-color: aliceblue;
                color: rgb(2, 2, 2);
                font-size: 1.2rem;
                text-shadow: 0px 0px 0px black;
                background-color: rgba(121, 244, 229, 0.504);
                flex-wrap: wrap;
                height: 150px;

                @media screen and (min-width : $largeur__media--tablette) {
                    height: 100px;
                    width: 250px;
                }

                .menu-item-description {
                    color: rgb(255, 255, 255);
                }
                .iconeMenuEvenement{
                    color: rgb(176, 238, 238);
                    transform: rotateZ(180deg);
                    margin-right: 5px;
                }
            }

            &:hover {
                a {
                    @media screen and (min-width : $largeur__media--tablette) {
                        font-size: 1.5rem;
                    }

                    box-shadow: rgb(239, 237, 243) 1px -1px 10px 2px;
                }
            }
        }

    }

}