.recherche{
background-color:transparent;
position: relative;
padding-right: 40px;


    &__input{
        background-color:transparent;
        border: 2px solid white;
       

    }
    &__bouton{
       //position: absolute;
       top: 0;
      
    
      
      
      

        

    }
    svg{

    }
}
